.SidebarLayout {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.SidebarLayout__Content {
    width: calc(100% - 360px);
}

.SidebarLayout__Sidebar {
    width: 300px;
}

.SidebarLayout__SidebarModule {
    padding-bottom: 40px;
    padding-top: 40px;
}
