.Article {
    padding-bottom: 40px;
    padding-top: 40px;
}

.Article--HasMeta {
    display: flex;
    justify-content: space-between;
}

.Article__Meta {
    border-bottom: none;
    margin-top: 12px;
    text-align: right;
    width: 130px;
}

.Article--HasMeta .Article__Main {
    width: calc(100% - 160px);
}
