:root {
    --lightGrayBackgroundColor: #f3f3f3;
    --lightGrayBackgroundOffsetColor: #ededed;
    --grayBackgroundOffsetColor: #dcdcdc;
    --grayBackgroundOffsetColorDaker: #828282;
    --primaryLightBaseColor: #fff;
    --primaryDarkBaseColor: #404040;
    --designPrimaryColorLighter: #5ddeef;
    --designPrimaryColorLight: #59c6cb;
    --designPrimaryColor: #438287;
    --designPrimaryDarkerColor: #205d5f;
    --designAccentColor: #9f623a;
}
