:root {
    --bodyBackground: var(--primaryLightBaseColor);
    --baseColor: var(--primaryDarkBaseColor);
    --baseFont: Arial, sans-serif;
    --baseFontSize: 16px;
    --baseFontWeight: normal;
    --baseLineHeight: 1em;
}
