textarea {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code {
  color: black;
}

#process-stream {
    overflow: wrap;
}

#submit-failure {
    overflow: auto;
}

#submit-stream {
    overflow: wrap;
}
