.LinkList {
    list-style: none;
    margin: 0 auto;
}

.LinkList__Item {
    line-height: 1.2em;
    margin-bottom: 8px;
}

.LinkList__ItemLink {
    display: block;
    text-decoration: none;
}

.LinkList--IsFeatured .LinkList__Item {
    font-weight: bold;
}
