a,
a.page-link {
    color: #438287;
}

a:hover,
a.page-link:hover {
    color: #205d5f;
}

article aside address::before {
    content: "by ";
}

article header {
    margin-bottom: 2rem;
}

article section {
    font-family: serif;
    font-size: 110%;
}

blockquote {
    background-color: #ededed;
    border-left: 1rem solid #dcdcdc;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

body {
    font-family: sans-serif;
}

body>footer {
    background-color: #f7f7f7;
}

body>header {
    background-color: #f7f7f7;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #205d5f;
    margin: 0;
    padding: 1.5rem;
    text-align: center;
}

body>header>p {
    font-style: italic;
}

code {
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
}

.navbar {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.nav-item {
    font-size: 90%;
    font-weight: 550;
    white-space: nowrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav-item:hover {
    background-color: #fff;
}

p.read-more {
    float: right;
}
